#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad {
  background-color: transparent;
  background-image: none;
  min-width: 948px;
  min-height: 588px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Line_2 {
  position: absolute;
  top: 155px;
  left: 100px;
  width: 802px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Rich_text_1 {
  position: absolute;
  top: 34px;
  left: 195px;
  width: 592px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_1 {
  position: absolute;
  top: 264px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_1 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_1 {
  position: absolute;
  top: 264px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_2 {
  position: absolute;
  top: 222px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_2 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_2 {
  position: absolute;
  top: 222px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Button_1 {
  position: absolute;
  top: 428px;
  left: 426px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Button_1 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Table_1 {
  position: absolute;
  top: 476px;
  left: 58px;
  width: 890px;
  height: 112px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 125px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 587px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 58px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 125px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_17 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 587px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 58px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 125px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 587px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 58px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_4 {
  position: absolute;
  top: 307px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_4 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_4 {
  position: absolute;
  top: 307px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Table_2 {
  position: absolute;
  top: 223px;
  left: 566px;
  width: 336px;
  height: 112px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_11 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_3 {
  position: absolute;
  top: 311px;
  left: 847px;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_5 {
  position: absolute;
  top: 272px;
  left: 847px;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_5 {
  position: absolute;
  top: 348px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_5 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_6 {
  position: absolute;
  top: 348px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Radio_button_1 {
  position: absolute;
  top: 525px;
  left: 905px;
  cursor: pointer;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Radio_button_2 {
  position: absolute;
  top: 565px;
  left: 905px;
  cursor: pointer;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_1 {
  position: absolute;
  top: 91px;
  left: 566px;
  width: 334px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_3 {
  position: absolute;
  top: 99px;
  left: 100px;
  width: 358px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_3 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_6 {
  position: absolute;
  top: 384px;
  left: 280px;
  width: 62px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_6 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_7 {
  position: absolute;
  top: 384px;
  left: 392px;
  width: 51px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_7 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_8 {
  position: absolute;
  top: 384px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_8 .valign {
  vertical-align: middle;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_7 {
  position: absolute;
  top: 393px;
  left: 355px;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Input_8 {
  position: absolute;
  top: 392px;
  left: 469px;
  box-shadow: none;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}