#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d11ff-99cb-4d54-9f91-dbc43611e3ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}