#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a7ca2f6-ddbb-4fc2-92fb-9400a609cac2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}