#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23e3d332-8ab4-459d-9792-abb9fb9d4846 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}