#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29bb465b-25bb-4004-b8d1-0fca47f4fb7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}