#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-340cc6e5-002e-4481-ab16-7021c55fd09a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}