#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4a4e517-11f8-4ea6-bc0a-604f7fa12754 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}