#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_8 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_9 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_10 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_11 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_12 {
  height: 41px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_13 {
  height: 27px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_14 {
  height: 27px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}