#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}