#s-d8f6a7bf-a413-411c-a737-5d945a067484 {
  background-color: transparent;
  background-image: none;
  min-width: 968px;
  min-height: 418px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Line_2 {
  position: absolute;
  top: 155px;
  left: 100px;
  width: 802px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Rich_text_1 {
  position: absolute;
  top: 34px;
  left: 195px;
  width: 592px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Category_1 {
  position: absolute;
  top: 197px;
  left: 420px;
  width: 180px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Category_1 .valign {
  width: 162px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_1 {
  position: absolute;
  top: 192px;
  left: 636px;
  width: 145px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_1 {
  position: absolute;
  top: 192px;
  left: 263px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Table_1 {
  position: absolute;
  top: 260px;
  left: 38px;
  width: 930px;
  height: 112px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 767px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 767px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 767px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Input_1 {
  position: absolute;
  top: 309px;
  left: 926px;
  box-shadow: none;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Input_2 {
  position: absolute;
  top: 346px;
  left: 926px;
  box-shadow: none;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_2 {
  position: absolute;
  top: 389px;
  left: 827px;
  width: 134px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_1 {
  position: absolute;
  top: 91px;
  left: 566px;
  width: 334px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_3 {
  position: absolute;
  top: 99px;
  left: 100px;
  width: 358px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18pt;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-d8f6a7bf-a413-411c-a737-5d945a067484 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}