#s-ecc17d11-9860-486d-aa17-57d548d4a76d {
  background-color: transparent;
  background-image: none;
  min-width: 902px;
  min-height: 531px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_1 {
  position: absolute;
  top: 317px;
  left: 384px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_2 {
  position: absolute;
  top: 425px;
  left: 384px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_1 {
  position: absolute;
  top: 281px;
  left: 429px;
  width: 124px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_1 .valign {
  vertical-align: middle;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_2 {
  position: absolute;
  top: 390px;
  left: 452px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_2 .valign {
  vertical-align: middle;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Rich_text_1 {
  position: absolute;
  top: 121px;
  left: 195px;
  width: 592px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Arial,Arial;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Line_1 {
  position: absolute;
  top: 225px;
  left: 100px;
  width: 802px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Button_1 {
  position: absolute;
  top: 502px;
  left: 429px;
  width: 118px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Button_1 .valign {
  vertical-align: middle;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}