#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecc17d11-9860-486d-aa17-57d548d4a76d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}