#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f114e6a4-929d-487c-a368-4b6c72c868bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}