#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}