#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 {
  background-color: transparent;
  background-image: none;
  min-width: 993px;
  min-height: 588px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Line_2 {
  position: absolute;
  top: 155px;
  left: 100px;
  width: 802px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Rich_text_1 {
  position: absolute;
  top: 34px;
  left: 195px;
  width: 592px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_1 {
  position: absolute;
  top: 264px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_1 {
  position: absolute;
  top: 264px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_2 {
  position: absolute;
  top: 222px;
  left: 100px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_2 {
  position: absolute;
  top: 222px;
  left: 280px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Button_1 {
  position: absolute;
  top: 319px;
  left: 426px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Table_1 {
  position: absolute;
  top: 476px;
  left: 58px;
  width: 935px;
  height: 112px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 785px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 785px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 75px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 785px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Table_3 {
  position: absolute;
  top: 223px;
  left: 566px;
  width: 336px;
  height: 112px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_20 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 245px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 68px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial,Arial;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_3 {
  position: absolute;
  top: 264px;
  left: 842px;
  padding-left: 5px;
  width: 25px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_4 {
  position: absolute;
  top: 302px;
  left: 842px;
  padding-left: 5px;
  width: 25px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_1 {
  position: absolute;
  top: 91px;
  left: 566px;
  width: 334px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_3 {
  position: absolute;
  top: 99px;
  left: 100px;
  width: 358px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18pt;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Radio_button_1 {
  position: absolute;
  top: 525px;
  left: 959px;
  cursor: pointer;
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 #s-Radio_button_2 {
  position: absolute;
  top: 563px;
  left: 959px;
  cursor: pointer;
  box-shadow: none;
}
#s-f4ccd842-f8d8-4cf9-a373-929d1f4a3842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}