#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Table_2 {
  border-collapse: separate;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_1 {
  height: 41px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_2 {
  height: 41px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_3 {
  height: 41px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_4 {
  height: 41px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_5 {
  height: 41px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_6 {
  height: 27px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Menu_item_7 {
  height: 27px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Table_1 {
  border-collapse: separate;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}