#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f568bf02-7e21-4fa9-90d8-bae43c57e84d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}